@import url('https://fonts.googleapis.com/css2?family=Alegreya&display=swap');
html {
    font-size: 1.4vw;
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Akaya Telivigala', cursive;
}


/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}


/* pagina web */

.fondo-principal {
    background-image: url("../img/fondo\ negro.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

#header {
    height: 60vw;
    background-image: url("../img/estadio\ cam\ nou.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding-top: 15%;
    text-align: center;
    font-size: 3vw;
    color: red;
}

#section-1 {
    padding-top: 0.5vw;
    text-align: justify;
    color: white;
    height: 50vw;
    padding-bottom: 32vw;
    padding-left: 10%;
    padding-right: 10%;
}

.imgbet {
    padding-top: 10vw;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25vw;
}

.imgbet img {
    width: 50vw;
    padding-top: 4vw;
}

#section-2 {
    text-align: justify;
    color: white;
    padding: 10%;
    padding-bottom: 0%;
}

.btn {
    padding-top: 5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 10vw;
}

.btnjugar {
    width: 30vw;
    height: 2.5vw;
    border-radius: 1vw;
    border: 3px solid white;
    background-color: black;
    color: white;
    cursor: pointer;
    font-size: 1.5vw;
}

.btnjugar:hover {
    color: red;
    background-color: rgb(255, 181, 181);
}

@media only screen and (max-width: 600px) {
    /* reglas */
    #header {
        font-size: 5vw;
        height: 85vw;
    }
    #section-1 h1 {
        font-size: 5vw;
    }
    #section-1 h2 {
        font-size: 3.5vw;
    }
    #section-1 {
        height: 83vw;
    }
    #section-2 h2 {
        font-size: 5vw;
    }
    #section-2 h3 {
        font-size: 3.5vw;
    }
    .btnjugar {
        height: 10vw;
        font-size: 4vw;
        width: 50vw;
    }
}